.Dictionary {
  padding: 5px;
}

.Dictionary form {
  margin: 10px auto;
  text-align: center;
}

.Results h2 {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.Meaning h3 {
  text-transform: capitalize;
}

.Meaning {
  background-color: aliceblue;
}

.Synonyms {
  line-height: 0.3;
  padding-top: 10px;
}

.Synonyms ul {
  padding-left: 0;
}
